VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=student-practice-mgmt.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=student-practice-mgmt
VITE_FIREBASE_STORAGE_BUCKET=student-practice-mgmt.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1075088626549
VITE_FIREBASE_APP_ID=1:1075088626549:web:db23e1f9545781c052393c
VITE_ADMIN_EMAIL=goodojb@gmail.com
